
.header {
  background-size: cover;
  padding-top: 25pc;
}

.header h1 {
  font-size: 2.8em;
  line-height: 1em;
  margin: 1rem 0 0 0;
  padding: 0;
}

.header > img {
  width: 100%;
  display: block;
}

.headerContent {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 90%
  );
}
